<?xml version="1.0"?>
<model>
    <name>DD Robot</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>

    <!-- say something here -->
    <author>
        <name>Zayne Frabutt</name>
        <email>zfrabutt@gmu.edu</name>
    </author>

    <description>
        DD Robot for Demo 2
    </description>
</model>